/* Style sheet for frivolous - the trivia game */

body {
    background-color: dimgray;
}

h1 {
    text-align: center;
    font-size: 24pt;
    color: burlywood;
}

div {
    background-color: floralwhite;
}

#triviaCard {
    padding: 5px 10px 15px 30px;
}

#theLeaderBoard {
    padding: 5px 10px 15px 30px;
}

#buttonRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/* #triviaCard > input {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    justify-items: start;
}

#triviaCard > label {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    justify-items: center;
} */