/* Style sheet for frivolous - the trivia game */

body {
    background-color: rgb(106, 150, 179);
}

h1 {
    text-align: center;
    font-size: 32pt;
    font-style: italic;
    color: rgb(247, 237, 149);
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

div {
    background-color: floralwhite;
}

#triviaCard {
    padding: 5px 10px 15px 30px;
}

#scoreboard {
    padding: 5px 10px 15px 30px;
}

#theLeaderBoard {
    padding: 5px 10px 15px 30px;
}

#buttonRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(212, 14, 57);
}

 #btnNewGame {
    border-radius: 10%;
 }

 #btnNewPlayer {
    border-radius: 10%;
 }

 #btnChangePlayer {
    border-radius: 10%;
 }

#grpChangePlayer {
    display: flex;
    flex-direction: row;
    background-color: rgb(212, 14, 57);
}

#grpCategory {
    display: flex;
    flex-direction: row;
    background-color: rgb(212, 14, 57);
}

/* #triviaCard > input {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    justify-items: start;
}

#triviaCard > label {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    justify-items: center;
} */